<h3 class="Application Details"></h3>

<ul>
  <li class="li">
    <%= link_to "Investor Details" %>
  </li>
  <li class="li">
    <%= link_to "Investment" %>
  </li>
  <li class="li">
    <%= link_to "Withdrawals" %>
  </li>
  <li class="li">
    <%= link_to "Adviser" %>
  </li>
  <li class="li">
    <%= link_to "Adviser Payment" %>
  </li>
  <li class="li">
    <%= link_to "Octopus Charges" %>
  </li>
  <li class="li">
    <%= link_to "Residency" %>
  </li>
  <li class="li">
    <%= link_to "Declarations" %>
  </li>
  <li class="li">
    <%= link_to "Transfer" %>
  </li>
</ul>