<ul>
  <li class="li"><h5>Application Sections</h5></li>
  <li class="li">
    <%= link_to "Adviser Details", adviser_application_path %><span style="float:right;"><i class="fa fa-check grey"></i></span>
  </li><br>
  <li class="li">
    <%= link_to "Investor Details", investor_application_path %><span style="float:right;"><i class="fa fa-check grey"></i></span>
  </li><br>
  <li class="li">
    <%= link_to "Investment", investment_application_path %><span style="float:right;"><i class="fa fa-check grey"></i></span>
  </li><br>
  <li class="li">
    <%= link_to "Withdrawals", withdrawals_application_path %>
  </li><br>

  <li class="li">
    <%= link_to "Adviser Payment", adviser_payment_application_path %>
  </li><br>
  <li class="li">
    <%= link_to "Octopus Charges", octopus_charges_application_path %>
  </li><br>
  <li class="li">
    <%= link_to "Residency", residency_application_path %>
  </li><br>
  <li class="li">
    <%= link_to "Declarations", declarations_application_path %>
  </li><br>
  <li class="li">
    <%= link_to "Transfer", transfer_application_path %>
  </li><br>

  <br>
  <br>
  <li class="center">
  <%= button_to 'Save', applications_path, { :style=>'color:white;', :class => "emailbutton"} %>
  <br>
  <%= link_to 'Submit', applications_path, { :style=>'color: white;', :class => "emailbutton"} %>
</li>
</ul>