<ul>
  <li class="li"><h5>Adviser Portal</h5></li>
  <li class="li">
    <%= link_to "Adviser Dashboard" %>
  </li><br>
  <li class="li">
    <%= link_to "Adviser Profile" %>
  </li><br>
  <li class="li">
    <%= link_to "Help Centre" %>
  </li><br>
  <li class="li">
    <%= link_to "Regulations" %>
  </li><br>
  <li class="li">
    <%= link_to "Whats New" %>
  </li><br>



</ul>