<div class="main-nav">
  <%= render 'app_menu' %>
</div>

<div class="content">


<h3 style="font-weight: bold;">Adviser Details</h3>


<div class="container center">
<%= form_for @application do |form| %>


  <div class="field">
    <%= form.label :advisor_name, :style => "float:left;" %>
    <%= form.text_field :advisor_name, id: :application_advisor_name, :style => "float:right;" %>
  </div>

<br>

  <div class="actions center">
    <%= form.submit %>
  </div>
<% end %>
</div>


</div>